Repository NET-401d11-Final-Project/Scorcher, pull requests merged in 2020-09, with the labels that each got.

#3 Update README.md
  README.md
Labels: Paul

#4 prep-work assigntment 4 complete
  Assets/ERD.png
  Assets/WireFrame.png
  Assets/domain-model.png
  README.md
  Requirements.md
Labels: documentation

#12 initial commit
  Final-Project-Scorcher/Final-Project-Scorcher.sln
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Assets/AboutAssets.txt
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Final-Project-Scorcher.Android.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/MainActivity.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Properties/AndroidManifest.xml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Properties/AssemblyInfo.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/AboutResources.txt
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/Resource.designer.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/layout/Tabbar.xml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/layout/Toolbar.xml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-anydpi-v26/icon.xml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-anydpi-v26/icon_round.xml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-hdpi/icon.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-hdpi/launcher_foreground.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-mdpi/icon.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-mdpi/launcher_foreground.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-xhdpi/icon.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-xhdpi/launcher_foreground.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-xxhdpi/icon.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-xxhdpi/launcher_foreground.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-xxxhdpi/icon.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/mipmap-xxxhdpi/launcher_foreground.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/values/colors.xml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/values/styles.xml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/App.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/App.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/AssemblyInfo.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/MainPage.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/MainPage.xaml.cs
Labels: Bryant

#17 Initial commit.
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Final-Project-Scorcher.Android.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/MainActivity.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Properties/AndroidManifest.xml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/APIs/YelpAPIAccess.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/App.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/GeoLocation/ScorcherLocation.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/MainPage.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/ViewModels/MainViewModel.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/Dishes.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/Dishes.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/Main.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/Main.xaml.cs
Labels: GeoCoding, Paul, Rob, User Stories, XAML

#15 initial commit
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Final-Project-Scorcher.Android.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/Resource.designer.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/App.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Data/ScorcherDatabase.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/MainPage.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/MainPage.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Models/Dish.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Models/Restaraunt.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Models/RestarauntDish.cs
  README.md
Labels: Bryant, Database, Models, User Stories

#26 Caching restaurants to DB, including categories for matching search terms
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Final-Project-Scorcher.Android.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/Resource.designer.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/App.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Data/ScorcherDatabase.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Data/SeedDishData.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/GeoLocation/ScorcherLocation.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/MainPage.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/MainPage.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Models/Dish.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Models/Restaraunt.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Models/RestarauntDish.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/Main.xaml.cs
  README.md
Labels: Database, Paul, Rob, User Stories

#19 Merge pull request #17 from NET-401d11-Final-Project/US02-MainPage
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Final-Project-Scorcher.Android.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/Resource.designer.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/App.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Data/ScorcherDatabase.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/MainPage.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/MainPage.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Models/Dish.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Models/Restaraunt.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Models/RestarauntDish.cs
  README.md
Labels: GeoCoding, Pages, Paul, Rob, XAML

#28 Seeding dishes for another restaurant.
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Data/SeedDishData.cs
Labels: Database, Paul, Rob, User Stories

#29 US05 - UI/UX Styling
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.Android/Resources/drawable/ScorcherLogo.png
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/App.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/App.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Data/ScorcherDatabase.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Data/SeedDishData.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher.csproj
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/Dishes.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/Dishes.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/Main.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/Main.xaml.cs
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/RatedDish.xaml
  Final-Project-Scorcher/Final-Project-Scorcher/Final-Project-Scorcher/Views/RatedDish.xaml.cs
Labels: Bryant, Pages, Paul, Rob, User Stories, XAML
